<!DOCTYPE html>
<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth no-csscolumns-breakbefore no-csscolumns-breakafter no-csscolumns-breakinside flexbox picture srcset webworkers" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>爱宠ipets</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">


    <!-- CSS
    ============================================ -->

    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->

    <link rel="stylesheet" href="assets/css/plugins/bootstrap.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.css">
    <link rel="stylesheet" href="assets/css/plugins/flaticon.css">
    <link rel="stylesheet" href="assets/css/plugins/default.css">


    <!--===== Plugins CSS (All Plugins Files) =====-->
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.css">

    <!--====== Main Style CSS ======-->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

<!--====== Header Start ======-->

<header class="header-area">
    <nav class="navbar navbar-expand-lg">
        <div class="container position-relative">
            <a class="navbar-brand" href="assets/images/logo.png" alt="Logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarContent">
                <ul class="navbar-nav ml-auto">

                    <li><a class="page-scroll active" href="#">爱宠ipets<button class="sub-nav-toggler"> <span></span> </button></a>
                      
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

<!--====== Header Ends ======-->

<!--====== Banner Start ======-->

<section id="home" class="banner-area">
    <div class="banner-shape-1">
        <img src="assets/images/shape/shape-2.png" alt="Shape">
    </div>
    <div class="banner-shape-2">
        <img src="assets/images/shape/shape-1.png" alt="Shape">
    </div>
    <div class="banner-shape-3">
        <img src="assets/images/shape/dots.png" alt="Shape">
    </div>

    <div class="banner-content-wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h2 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUp;">探索更多宠物<br>和社区</h2>
                        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: fadeInUp;">Explore more resource
                            solutions and contacts.</p>


                        <ul class="download-btn">
                            <li style="float:left">
                                <a class="google-play wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.9s" href="IPET_RESOURCES/apk/ipets.apk" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.9s; animation-name: fadeInUp;">
                                    <span class="text-1">Android</span>
                                    <span class="text-2">立即下载</span>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-image wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.8s; animation-name: fadeInRightBig;">
                        <div class="image">
                            <img src="assets/images/banner-app.png" alt="App">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-counter">
        <div class="container">

        </div>
    </div>
</section>

<!--====== 第一部分end ======-->

<!--====== 第二部分start ======-->


<!--====== 第二部分end ======-->

<!--====== 第三部分 Start ======-->

<section id="screenshot" class="screenshot-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <p class="sub-title">Interface appreciation</p>
                    <h2 class="title">界面欣赏</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid custom-container">
        <div class="screenshot-active swiper-container swiper-container-initialized swiper-container-horizontal">
            <div class="swiper-wrapper" style="transform: translate3d(-1401.33px, 0px, 0px); transition: all 0ms ease 0s;"><div class="swiper-slide single-screenshot swiper-slide-duplicate" data-swiper-slide-index="4" style="width: 320.333px; margin-right: 30px;">
                    <img src="assets/images/screens/5.png" alt="">
                </div><div class="swiper-slide single-screenshot swiper-slide-duplicate" data-swiper-slide-index="5" style="width: 320.333px; margin-right: 30px;">
                    <img src="assets/images/screens/6.png" alt="">
                </div><div class="swiper-slide single-screenshot swiper-slide-duplicate" data-swiper-slide-index="6" style="width: 320.333px; margin-right: 30px;">
                    <img src="assets/images/screens/7.png" alt="">
                </div>
                <div class="swiper-slide single-screenshot swiper-slide-prev" data-swiper-slide-index="0" style="width: 320.333px; margin-right: 30px;">
                    <img src="assets/images/screens/1.png" alt="">
                </div>
                <div class="swiper-slide single-screenshot swiper-slide-active" data-swiper-slide-index="1" style="width: 320.333px; margin-right: 30px;">
                    <img src="assets/images/screens/2.png" alt="">
                </div>
                <div class="swiper-slide single-screenshot swiper-slide-next" data-swiper-slide-index="2" style="width: 320.333px; margin-right: 30px;">
                    <img src="assets/images/screens/3.png" alt="">
                </div>
                <div class="swiper-slide single-screenshot" data-swiper-slide-index="3" style="width: 320.333px; margin-right: 30px;">
                    <img src="assets/images/screens/4.png" alt="">
                </div>
                </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        <!-- Add Pagination -->
        <div class="screenshot-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 7"></span></div>
    </div>
</section>
<!--====== 第三部分 Ends ======-->

<!--====== 底部 start ======-->
<footer id="footer" class="footer-area bg_cover" style="background-image: url(assets/images/footer-bg.jpg);">
    <div class="footer-shape shape-1"></div>

    <div class="container">
        <div class="footer-copyright text-center">
            <p>© copyright 2021 by <a href="#">爱宠ipets</a></p>
        </div>
    </div>
</footer>

<!--====== 底部 end======-->

<a href="#" class="back-to-top"><i class="fal fa-chevron-up"></i></a>

<!--====== BACK TOP TOP PART ENDS ======-->


<!--====== Jquery js ======-->
<script src="/assets/js/vendor/jquery-3.js"></script>
<script src="/assets/js/vendor/modernizr-3.js"></script>

<!--====== All Plugins js ======-->
<script src="/assets/js/plugins/popper.js"></script>
<script src="/assets/js/plugins/bootstrap.js"></script>
<script src="/assets/js/plugins/swiper-bundle.js"></script>
<script src="/assets/js/plugins/jquery.js"></script>
<script src="/assets/js/plugins/scrolling-nav.js"></script>
<script src="/assets/js/plugins/wow.js"></script>


<!--====== Main Activation  js ======-->
<script src="/assets/js/main.js"></script>





</body></html>